body {
 background-color: #ffffff;
 background-image: url("../3px-tile.png");

}

.center {
	text-align: center;
}


.gray-container {
	width: 1000px;
    height: 600px;
    background: #ffffff;
    border-radius: 10px;
    border: 1.5px solid purple;
    display: inline-block;
}
